/* GENERAL PAGE LAYOUT*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #222222;
  color: #ffffff;
}

.page {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}

/* SIDENAV */

.sidenav {
  background-color: #161618;
  padding: 28px 16px;
  display: flex;
  flex-direction: column;
}

/* Title */
.logo {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 4px;
  padding-left: 24px;
}

/* Subtitle */
.subtitle {
  font-weight: 100;
  margin-top: 10px;
  font-size: 16px;
  color: #9b9b9b;
  margin-bottom: 15px;
  padding-left: 24px;
}

/* NAV LIST */

.nav-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* NAV ITEM */
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;

  height: 48px;
  padding-left: 24px;

  color: #cfcfcf;
  cursor: pointer;
}

/* Hover State */
.nav-item::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 12px;
  top: 0;
  bottom: 0;

  border-radius: 14px;
  background: transparent;
  transition: background 0.2s ease;
  z-index: 0;
}

/* Hover */
.nav-item:hover::before {
  background: rgba(255, 255, 255, 0.06);
}

/* Active */
.nav-item.active::before {
  background: rgba(255, 255, 255, 0.1);
}

.nav-item.active {
  color: #ffffff;
}

/* ICONS */
.nav-icon {
  width: 20px;
  height: 20px;
  display: inline-flex;
  z-index: 1;
}

.nav-icon svg {
  width: 20px;  
  height: 20px;
  stroke: currentColor;
  fill: none;
}

/* LABEL */
.nav-label {
  font-size: 16px;
  z-index: 1;
}

/* MAIN CONTENT */
.content {
  padding: 32px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .sidenav {
    padding: 16px;
  }

  .nav-list {
    flex-direction: row;
    gap: 16px;
  }
}

a:focus-visible {
  outline: 3px solid #6d5dfc;
  outline-offset: 4px;
}
