---
/* My Collection Page */

import Layout from "../layouts/Layout.astro";
import Sidenav from "../components/Sidenav.astro";
import SearchBar from "../components/SearchBar.astro";
import AlbumCard from "../components/AlbumCard.astro";
---

<Layout title="My Collection">
  <Sidenav active="collection" /> 

 <main class="content">
  <section class="content-body">

    <header class="content-header">
      <SearchBar placeholder="Search my Collection ..." />
    </header>
    
    <div class="album-grid">
  
        <AlbumCard
    title="Eternal Sunshine (Deluxe)"
    artist="Ariana Grande"
    cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
    status="Listened today"
  />

  <AlbumCard
    title="Rumours"
    artist="Fleetwood Mac"
    cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
    status="Listened today"
  />

  <AlbumCard
    title="Every Kingdom"
    artist="Ben Howard"
    cover="https://www.therage.ie/cdn/shop/products/mbid-0deb28f9-8c96-465c-953d-cb15664bf4d7-29149970067_1024x1024.jpg?v=1636225750"
    status="Haven’t listened yet"
  />

  <AlbumCard
    title="The Art of Loving"
    artist="Olivia Dean"
    cover="https://m.media-amazon.com/images/I/91ogA7DN6jL._AC_UF894,1000_QL80_.jpg"
    status="Listened today"
  />

      <AlbumCard
    title="Reputation"
    artist="Taylor Swift"
    cover="https://upload.wikimedia.org/wikipedia/en/f/f2/Taylor_Swift_-_Reputation.png"
    status="Listened today"
  />

  <AlbumCard
    title="Don't Forget Me"
    artist="Maggie Rogers"
    cover="https://upload.wikimedia.org/wikipedia/en/a/a8/Maggie_Rogers_-_Don%27t_Forget_Me.png"
    status="Listened today"
  />

  <AlbumCard
    title="GUTS"
    artist="Olivia Rodrigo"
    cover="https://i.scdn.co/image/ab67616d0000b273e85259a1cae29a8d91f2093d"
    status="Haven’t listened yet"
  />

  <AlbumCard
    title="Stick Season (We'll all be here forver)"
    artist="Noah Kahan"
    cover="https://cdn.webshopapp.com/shops/134936/files/456350741/noah-kahan-stick-season-well-all-be-here-forever-c.jpg"
    status="Listened today"
  />

      <AlbumCard
    title="the record"
    artist="boygenius"
    cover="https://i.scdn.co/image/ab67616d0000b27343fc02bcfa7cd4e6bb66aa22"
    status="Listened today"
  />

  <AlbumCard
    title="The Miseducation of Lauryn Hill"
    artist="Ms. Lauryn Hill"
    cover="https://i.scdn.co/image/ab67616d0000b273e08b1250db5f75643f1508c9"
    status="Listened today"
  />

  <AlbumCard
    title="Stranger in the Alps"
    artist="Phoebe Bridgers"
    cover="https://media.pitchfork.com/photos/6380d5021628784965dd6626/master/w_1280%2Cc_limit/Phoebe-Bridgers-Stranger-in-the-Alps.jpg"
    status="Listened today"
  />

      <AlbumCard
    title="Coloring Book"
    artist="Chance the Rapper"
    cover="https://upload.wikimedia.org/wikipedia/en/c/c4/Chance_the_Rapper_-_Coloring_Book.png"
    status="Listened today"
  />

  <AlbumCard
    title="Ellipse"
    artist="Imogen Heap"
    cover="https://i.scdn.co/image/ab67616d0000b27317dc79c9dc42ed849bba7020"
    status="Listened today"
  />

  <AlbumCard
    title="Lost & Found"
    artist="Jorja Smith"
    cover="https://upload.wikimedia.org/wikipedia/en/b/ba/Jorja_Smith_-_Lost_%26_Found.png"
    status="Haven’t listened yet"
  />

  <AlbumCard
    title="Wasteland, Baby!"
    artist="Hozier"
    cover="https://musiczone.ie/wp-content/uploads/2019/01/WB.jpg"
    status="Listened today"
  />

  



        <AlbumCard
    title="High As Hope"
    artist="Florence + The Machine"
    cover="https://m.media-amazon.com/images/I/81y4xBwdRML._AC_UF1000,1000_QL80_.jpg"
    status="Listened today"
  />

  <AlbumCard
    title="The Divine Feminine"
    artist="Mac Miller"
    cover="https://i.scdn.co/image/ab67616d0000b27357df7ce0eac715cf70e519a7"
    status="Listened today"
  />

  <AlbumCard
    title="Contra"
    artist="Vampire Weekend"
    cover="https://www.therage.ie/cdn/shop/products/mbid-0deb28f9-8c96-465c-953d-cb15664bf4d7-29149970067_1024x1024.jpg?v=1636225750"
    status="Haven’t listened yet"
  />

  <AlbumCard
    title="El Camino"
    artist="The Black Keys"
    cover="https://m.media-amazon.com/images/I/91ogA7DN6jL._AC_UF894,1000_QL80_.jpg"
    status="Listened today"
  />

      <AlbumCard
    title="Wish You Were Here"
    artist="Pink Floyd"
    cover="https://upload.wikimedia.org/wikipedia/en/f/f2/Taylor_Swift_-_Reputation.png"
    status="Listened today"
  />

  <AlbumCard
    title="Don't Forget Me"
    artist="Maggie Rogers"
    cover="https://upload.wikimedia.org/wikipedia/en/a/a8/Maggie_Rogers_-_Don%27t_Forget_Me.png"
    status="Listened today"
  />

  <AlbumCard
    title="GUTS"
    artist="Olivia Rodrigo"
    cover="https://i.scdn.co/image/ab67616d0000b273e85259a1cae29a8d91f2093d"
    status="Haven’t listened yet"
  />

  <AlbumCard
    title="Stick Season (We'll all be here forver)"
    artist="Noah Kahan"
    cover="https://cdn.webshopapp.com/shops/134936/files/456350741/noah-kahan-stick-season-well-all-be-here-forever-c.jpg"
    status="Listened today"
  />

      <AlbumCard
    title="the record"
    artist="boygenius"
    cover="https://i.scdn.co/image/ab67616d0000b27343fc02bcfa7cd4e6bb66aa22"
    status="Listened today"
  />

  <AlbumCard
    title="The Miseducation of Lauryn Hill"
    artist="Ms. Lauryn Hill"
    cover="https://i.scdn.co/image/ab67616d0000b273e08b1250db5f75643f1508c9"
    status="Listened today"
  />

  <AlbumCard
    title="Stranger in the Alps"
    artist="Phoebe Bridgers"
    cover="https://media.pitchfork.com/photos/6380d5021628784965dd6626/master/w_1280%2Cc_limit/Phoebe-Bridgers-Stranger-in-the-Alps.jpg"
    status="Listened today"
  />

      <AlbumCard
    title="Coloring Book"
    artist="Chance the Rapper"
    cover="https://upload.wikimedia.org/wikipedia/en/c/c4/Chance_the_Rapper_-_Coloring_Book.png"
    status="Listened today"
  />

  <AlbumCard
    title="Ellipse"
    artist="Imogen Heap"
    cover="https://i.scdn.co/image/ab67616d0000b27317dc79c9dc42ed849bba7020"
    status="Listened today"
  />

  <AlbumCard
    title="Lost & Found"
    artist="Jorja Smith"
    cover="https://upload.wikimedia.org/wikipedia/en/b/ba/Jorja_Smith_-_Lost_%26_Found.png"
    status="Haven’t listened yet"
  />

  <AlbumCard
    title="Wasteland, Baby!"
    artist="Hozier"
    cover="https://musiczone.ie/wp-content/uploads/2019/01/WB.jpg"
    status="Listened today"
  />
    </div>
</section>

   
  </main>
</Layout>