---
/* My Collection Page */

import Layout from "../layouts/Layout.astro";
import Sidenav from "../components/Sidenav.astro";
---

<Layout title="My Collection">
  <Sidenav active="collection" />

  <main class="content">
   
  </main>
</Layout>