---
import Layout from "../layouts/Layout.astro";
import Sidenav from "../components/Sidenav.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Search Records">
  <Sidenav slot="sidenav" active="search" />

  <main slot="content" class="content">
    <section class="content-body">


      <div class="search-sticky">   <!-- Sticky search bar that stays at the top when scrolling -->
  <div class="row mb-4"> <!-- bootstrap -->
    <div class="col-12">
      <SearchBar placeholder="Search for Records..." />
    </div>
  </div>
</div>

 <!-- empty grid that js will fill with album cards -->
      <div
        id="results-grid"
        class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4"
      ></div>

    </section>
  </main>
</Layout>

<script>
  import "../js/search-page.js";
</script> <!-- js search file-->

