---
const { active } = Astro.props;
---
<!-- Default dropup buttonl using a drop up instead of drop down because I want it to open within the card. Also using drop down because I hope eventually to add more elements like album infp, logging previous listens etc -->
<div class="btn-group dropup"> <!-- Bootstrap -->
  <button
    type="button"
    class="btn log-btn-trigger dropdown-toggle"
    data-bs-toggle="dropdown"
    data-bs-display="static"
    aria-expanded="false"
  >
    Log Listening Activity
  </button>
<!-- Dropdown menu links -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Log today’s listen</a></li>
    <li><a class="dropdown-item" href="#">Log previous listen</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item text-danger" href="#">Remove from collection</a></li>
  </ul>
</div>
