---
const { active } = Astro.props;
---
<!-- Default dropup button -->
<div class="btn-group dropup">
  <button
    type="button"
    class="btn log-btn__trigger dropdown-toggle"
    data-bs-toggle="dropdown"
    data-bs-display="static"
    aria-expanded="false"
  >
    Log Listening Activity
  </button>
<!-- Dropdown menu links -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Log today’s listen</a></li>
    <li><a class="dropdown-item" href="#">Log previous listen</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item text-danger" href="#">Remove from collection</a></li>
  </ul>
</div>
